{% extends "finance/base.html" %}
{% load humanize %} 
{% block content %}
    <article class="media content-section" style="margin-top: 100px;">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.user }}</a>
                <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
                <h2><a class="article-title" href="{% url 'expense-delete' expense.id %}"> {{ object.expense_incured }}</a></h2>

                {% if object.user == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-2 mb-2" href="{% url 'expense-update' object.id%}">Update</a>
                        <a class="btn btn-danger btn-sm mt-2 mb-2" href="{% url 'expense-delete' object.id%}">Delete</a>
                    </div>
                    <a class="btn btn-primary btn-sm mt-2 mb-2" href="{% url 'we' }">back</a>

                {% endif%}
            </div>
            <h4  class="article-content">
              ksh  {{ object.amount|floatformat:2|intcomma }}
            </h4>
        </div>
    </article>
{% endblock %}
