{% extends "finance/base.html" %}
{% block content %}
<div class="mt-4">
  <div class="container text-center mt-4 ml-auto ">
      <div class="row ml-auto ">
          <div class="col-12 col-md-4 mb-3">
              <a href="{%url 'income-list'%}" class="card border-primary mb-3 text-decoration-none" style="max-width: 18rem; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                  <div class="card-header">Income</div>
                  <div class="card-body text-primary">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </a>
          </div>
          <div class="col-12 col-md-4 mb-3">
              <a href="{%url 'expense-list'%}" class="card border-secondary mb-3 text-decoration-none" style="max-width: 18rem; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                  <div class="card-header">Expense</div>
                  <div class="card-body text-secondary">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </a>
          </div>
          <div class="col-12 col-md-4 mb-3">
              <a href="{%url 'saving-list'%}" class="card border-success mb-3 text-decoration-none" style="max-width: 18rem; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                  <div class="card-header">Savings</div>
                  <div class="card-body text-success">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
    
    
